.footer {
    background-color: #1c1c1c;
    color: #f1e9e4;
    padding: 32px 0 40px;

    @media (min-width: 820px) {
        padding-top: 40px;
    }
}

.container {
    display: grid;
    gap: 24px;
    align-items: center;
    justify-content: space-between;
    grid-template-areas: 
    "logo"
    "phone"
    "contacts"
    "developer"
    "copyright";

    @media (min-width: 580px) {
        align-items: center;
        justify-content: space-between;
        grid-template-areas:
        "logo phone"
        "logo contacts"
        "developer developer"
        "copyright copyright";
        grid-template-columns: 3fr 1fr;
    }
}

.logo {
        grid-area: logo;
        width: 230px;
}

.phone {
        grid-area: phone;
}

.contacts {
    grid-area: contacts;
    
    @media (min-width: 580px) {
        grid-column: 2 / 3;
        justify-self: start;
    }
}

.developer {
    grid-area: developer;
}

.copyright {
    grid-area: copyright;
}